[submodule "externals/web-socket-js"]
	path = externals/web-socket-js
	url = git://github.com/gimite/web-socket-js.git
[submodule "externals/spin.js"]
	path = externals/spin.js
	url = git://github.com/fgnass/spin.js.git
[submodule "externals/qTip2"]
	path = externals/qTip2
	url = git://github.com/Craga89/qTip2.git
[submodule "externals/jquery.spin.js"]
	path = externals/jquery.spin.js
	url = git://gist.github.com/1290439.git
[submodule "externals/svg.git"]
	path = externals/svg.git
	url = git://github.com/vamf12/svg.git
