[submodule "externals/web-socket-js"]
	path = externals/web-socket-js
	url = git://github.com/gimite/web-socket-js.git
[submodule "externals/spin.js"]
	path = externals/spin.js
	url = git://github.com/fgnass/spin.js.git
