#scotty_about {
    display: none;
    position: absolute;
    margin: auto;
    padding: 1em;
    width: 550px;
    height: 400px;
    background: #a0a0a0;
}

#scotty_chart {
    display: none;
    position: absolute;
    margin: auto;
    padding: 1em;
    background: #e0e0e0;
    width: 300px;
}

#scotty_hb {
    float: right;
    width: 14px;
    height: 14px;
    background: #7f0000;
    margin-left: 7px;
}

td.scotty_chart_title {
    font-weight: bold;
}

td.scotty_chart_value {
    font-family: monospace;
}

ul.nav {
    list-style:none;
    margin:0;
    padding:0;
}

ul.nav li {
    display:inline;
}

ul.nav li a {
    padding:3px 5px;
    background-color:#ccc;
    color:#000;
    text-decoration:none;
}

ul.nav li a.selected, ul.nav li a:hover {
    background-color:#333;
    color:#fff;padding-top:7px;
}

ul.nav li a:focus {
    outline:0;
}

div.svgview {
    width: 100%;
    height: 80%;
    border: 1px solid #484;
}
