#scotty_about_popup {
    display: none;
    position: absolute;
    margin: auto;
    padding: 1em;
    width: 550px;
    height: 400px;
    background: white;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#scotty_chart {
    display: none;
    position: absolute;
    margin: auto;
    padding: 1em;
    background: #e0e0e0;
    width: 300px;
}

#scotty_about {
    float: right;
    background-color: #a9adbe;
    padding: 2px 3px;
    font-size: 16px;
    font-weight: bold;
}

#scotty_hb {
    float: right;
    width: 14px;
    height: 14px;
    background: #7f0000;
    margin-left: 7px;
    margin-top: 3px;
    margin-right: 10px;
}

td.scotty_chart_title {
    font-weight: bold;
}

td.scotty_chart_value {
    font-family: monospace;
}

ul.nav {
    list-style:none;
    margin:0;
    padding:0px 10px;
    background-color: 0;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.nav li {
    display: inline;
}

ul.nav li a {
    padding: 2px 3px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

ul.nav li a.selected, ul.nav li a:hover {
    background-color: #a9adbe;
    color: 0;
}

ul.nav li a:focus {
    outline:0;
}

div.svgview {
    width: 100%;
    height: 80%;
}

#scotty_logd {
    width: 100%;
    height: 15%;
    border: 1px solid #000000;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#log {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    resize: none;
    overflow: hidden;
    background: none;
    color: #404040;
}

body {
    background-color: #a9adbe;
}
